@font-face{font-family:'Nunito';font-weight:700;src:url(Nunito-700.woff2) format('woff2');}
@font-face{font-family:'Nunito';font-weight:900;src:url(Nunito-900.woff2) format('woff2');}
@font-face{font-family:'Russo One';font-weight:400;src:url(RussoOne-400.woff2) format('woff2');}